@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');


@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/remixicon/fonts/remixicon.css";

$font-family-base: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$primary: #0F6FEC;
// $utilities-text-colors: #676A79;

@import "../node_modules/bootstrap/scss/bootstrap";


.form-control:focus {
  box-shadow: none;
  border-color: #0F6FEC;
}
.profile{
  width: 35px;
}
.nav-link{
  font-weight: bold;
}
.nav-link:hover{
  color: $primary;
}

.bi-cloud-download-fill{
  color: #0CBC87;
}

// Profile //

.cover{
  height: 50px;
  background-image: url('../images/coverimg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.profile-detail{
  height: 58px;
  margin-top: -3rem;
  margin-bottom: 1rem;
  outline: 3px solid white;
}
.pro-icon{
  width: 19px;
}


// News Feed //

.myday{
  height: 150px;
  width: 120px;
}
.story{
  border: 1px dashed gray;
}
.story-img{
  height: 150px;
  width: 120px;
}
.post-img{
  height: 40px;
}
.small{
  font-size: smaller;
}
.post-text:focus-visible{
  outline: none;
}

//

.friends-img{
  width: 48px;
}
.addbtn{
  color: #0F6FEC;
  padding: 0.8rem;
  background-color: #0f6fec18;
}
.exist-story{
  border: 2px solid white;
  outline: 2px solid #0F6FEC;
}
.view-more{
  background-color: #0f6fec18;
  border: none;
  color: #0F6FEC;
}